@import "tailwindcss";

:root {
  --background: #F6F6F6; /* ubah dari #ffffff */
  --foreground: #171717;

  /* Custom Colors */
  --color-1: #F49B33;
  --color-2: #2B2B2B;
  --color-3: #5E5E5E;
  --color-4: #CECECE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Tambahan warna */
  --color-1: var(--color-1);
  --color-2: var(--color-2);
  --color-3: var(--color-3);
  --color-4: var(--color-4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}